a {
  color: grey;
  font-size: 40px;
  font-family: Arial;
  font-variant: small-caps;
  text-decoration: none;
  letter-spacing: 0.5em;
  font-style: italic;
  font-weight: bold;
  text-transform: capitalize;
  vertical-align: sub;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
